<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Editar Planta</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-green-50 p-10">

<div class="max-w-3xl mx-auto bg-white p-8 rounded-2xl shadow">

<h1 class="text-3xl font-bold text-green-800 mb-8">
Editar Planta 🌿
</h1>

<form method="POST" class="space-y-4">

<input
name="nome_popular"
value="{{ planta.nome_popular }}"
class="w-full border p-3 rounded-xl">

<input
name="nome_cientifico"
value="{{ planta.nome_cientifico }}"
class="w-full border p-3 rounded-xl">

<input
name="parte_utilizada"
value="{{ planta.parte_utilizada[0] }}"
class="w-full border p-3 rounded-xl">

<input
name="beneficios"
value="{{ planta.beneficios[0] }}"
class="w-full border p-3 rounded-xl">

<input
name="indicacoes"
value="{{ planta.indicacoes[0] }}"
class="w-full border p-3 rounded-xl">

<input
name="preparo"
value="{{ planta.preparo }}"
class="w-full border p-3 rounded-xl">

<button
class="bg-blue-700 text-white px-6 py-3 rounded-xl">
Salvar Alterações
</button>

</form>

</div>

</body>
</html>